.fake
.ionide
.vs
bin
obj
packages

x64
HunterPie.Native/Debug
Release

.env

TestResults

# Images
Icons
Masks

.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Installer

Installer/*.ttf
Installer/installer