---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

ion-icon {
    vertical-align: sub;
}

update::before {
    content: "Update";
    font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif; ;
    color: #ffa59b;
    border: 1px solid #ffa59b; 
    font-weight: 600;
    display: inline-flex;
    vertical-align: super;
    padding: 5px;
    border-radius: 5px;
    background-color: #ac4b4063;
    font-size: 1vh;
}

docs::before {
    content: "Docs";
    font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif; ;
    color: whitesmoke;
    font-weight: 600;
    display: inline-flex;
    vertical-align: super;
    padding: 5px;
    border-radius: 5px;
    color: #64a4ff;
    border: 1px solid #64a4ff; 
    background-color: #4b8fee3d;
    font-size: 1vh;
}