name: 'Validate Localization'
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Validate languaage files
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Checkout
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.7
      
      - name: Install dependencies
        run: | 
          pip install -r ./Scripts/pipeline/localization/requirements.txt
      
      - name: Run pipeline script
        run: |
          python3 ./Scripts/pipeline/localization/localization_verification.py