name: Pull Request Check

on:
  pull_request:
    branches:
      - main
      - 'release/**'
  push:
    branches:
      - main
      - 'release/**'
      
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: windows-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0
    
    - name: Build project
      run: dotnet build HunterPie --nologo -v q --property WarningLevel=0 /clp:ErrorsOnly

    - name: Run unit tests
      run: dotnet test *.Tests

    - name: Run formatter
      run: dotnet format --verify-no-changes